.jumbotron {
    padding: 7rem 1rem;
    background-color: #e2edff;
}

#gallery {
    background-color: #10397c
}

section {
    padding-top: 5rem;
}

button {
    color: white;
    background-color: blue;
}